#outer{
	height:60%;
	position:relative;
left:8vh;
top:4vh;
	width:45%;
	background-color: rgb(145, 156, 152);
}
#empty{
	height:18%;
	width:100%;
}
.button{
border-radius: 8%;
}
.button{
	
	width:30%;
	margin:0.5%;
background-color: rgb(217, 202, 185);



}
h1{
	text-align:center;
	margin-top:2vh;
	
}
#input{
height:80%;
width:95%;
margin:1%;
font-size:1.9rem;
}
.row{
	height:16.3%;
	width:100%;
	display:flex;
	flex-direction: row;
}
.boxes{
	width:62%;
	height:100%;
	margin:0.4%;
	
	background-color: rgb(217, 202, 185);
}
#hello{
	width:74vh;
}
.red{
	background-color: rgb(237, 54, 54);
}

/*


@media screen and (max-width: 768px) {
	#outer {
	  height: 100vh;
	  width: 100%;
	  left: 0;
	  top: 0;
	  padding: 2vh;
	}
	
	#hello {
	  width: 100%;
	}
	
	.button {
	  width: 45%;
	  margin: 1%;
	}
	
	.row {
	  flex-wrap: wrap;
	}
	
	.boxes {
	  width: 90%;
	  margin: 1%;
	}}
*/